asgiref==3.5.2
astroid==2.12.10
boto3==1.24.79
botocore==1.27.79
dill==0.3.5.1
Django==3.2.16
django-cors-headers==3.13.0
isort==5.10.1
jmespath==1.0.1
joblib==1.2.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.21.6
Pillow==9.2.0
platformdirs==2.5.2
pylint==2.15.3
python-dateutil==2.8.2
python-dotenv==0.21.0
pytz==2022.2.1
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.7.3
six==1.16.0
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tomli==2.0.1
tomlkit==0.11.4
typed-ast==1.5.4
typing-extensions==4.3.0
urllib3==1.26.12
wrapt==1.14.1
