option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_ACCESS_KEY_ID: "AKIAV3KOIE6HXLCU3WDX"
    AWS_SECRET_ACCESS_KEY: "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"
    AWS_S3_BUCKET: "cal-corbin-dev"
    DIGITS_MODEL: "digits_model.joblib"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "api.wsgi:application"